.header {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  height: 60px;
  max-width: 750px;
  margin: auto;
}

div {
  display: grid;
  height: fit-content;
  width: 80%;
  margin: 10px auto;
}

button {
  margin: auto;
  outline: none;
}

button:active {
  border: 2px solid black;
}

.row {
  grid-auto-flow: column;
}

.title {
  font-size: 3rem;
}

.options {
  width: fit-content;
  align-items: center;
}
.light-dark-mode {
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon {
  width: fit-content;
  height: fit-content;
  margin: 5px;
}

/* TOGGLE BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
