/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color-light: white;
  --primary-color-dark: #1f1f1f;
  --secondary-color: #5ea7ec;
  --text-color-light: black;
  --text-color-dark: white;
  --light-search-background: #f4f4ff;
  --dark-search-background: #4c4d5f;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
    background-color: var(--primary-color-light);
  }
  body.theme {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    background-color: var(--primary-color-dark);
  }
  body.theme {
    background-color: var(--primary-color-light);
    color: var(--text-color-light);
  }
}

* {
  box-sizing: border-box;
}

html {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
body {
  font-family: Verdana, sans serif;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  min-height: 100%;
}
div {
  width: 100%;
}
main {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
}
button {
  outline: none;
  border-radius: 5px;
}

button:active {
  border: 2px solid black;
}
.container {
  margin: 100px 0px auto;
}
